---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { title, description, pubDate, heroImage } = post.data;

const { Content } = await post.render();
---

<Layout title={title}>
    <div
        class='container mx-auto h-[50vh] border border-x-0 border-t-0 bg-cover bg-center'
        style={{ backgroundImage: `url(${heroImage})` }}
    />

    <article class="dw-blog-article mx-auto max-w-5xl mt-8 mb-20 px-4">
        <FormattedDate date={pubDate} />
        <div class="container mx-auto">
            <h1>{post.data.title}</h1>
            <Content />
        </div>
    </article>
</Layout>
