---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
    <header class="pt-20">
        <h1 class="text-6xl text-center tracking-tighter font-bold">Software Development</h1>
        <h2 class="text-center pt-4">Notes about my personal experiences and learning pills</h2>
    </header>
</Layout>
