---
import DarkToggle from '../components/DarkToggle.astro'
import '../styles/global.scss'

interface Props {
	title: string
    description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Global Metadata -->
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width,initial-scale=1' />
        <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
        <meta name='generator' content={Astro.generator} />
        
        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name='title' content={title} />
        <meta name='description' content={description} />
        
        <!-- Bootstrap & Icons -->
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css' />
        
        <!-- Animate CSS -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' />
        
    </head>
    <body class="bg-amber-50 dark:bg-zinc-900">
        <nav class='sticky top-0 z-10 border-b shadow-sm px-4 flex justify-between items-center bg-amber-50 dark:bg-zinc-900 dark:text-white dark:border-zinc-700'>
            <a href='https://dawichi.dev' target='_blank' rel='noopener noreferrer' class='font-bold p-1 hover:text-teal-400'>by dawichi</a>
            <a href='/' class='font-bold p-1 hover:text-teal-400'>Dawichi's Blog</a>
            <div class="flex items-center justify-center gap-4">
                <a href='https://github.com/dawichi' target='_blank' rel='noopener noreferrer' class='font-bold p-1 hover:text-teal-400 flex items-center justify-center'>
                    <i class='bi bi-github text-2xl'></i>
                </a>
                <DarkToggle />
            </div>
        </nav>

        <main class="dark:bg-zinc-900 dark:text-white min-h-screen">
            <slot />
        </main>
    </body>
</html>
